* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url(https://img.freepik.com/free-vector/subtle-rombus-white-gray-pattern-background_1017-25098.jpg?w=2000) no-repeat;
  background-size: cover;
}
.App{
  padding: 3vw;
  text-align: center;
}
.main{
  display: flex;
  width: 100%;
}
.first{
  width: 50%;
  height: 70vh;
  text-align: center;
}
.first>input{
  height: 50vh;
  margin-top: 12%;
  width: 90%;
}
.second{
  margin-top: 5%;
}
.sample{
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}
input[type='number'], input[type='text']{
  background-color: white;
}
.samp{
  width: 7.5vw;
  height: 8vh;
}

